* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(36, 35, 35);
    box-sizing: border-box;
}

/************** header************/
.header {
    height: 100px;
    background-color: rgb(9, 9, 75);
    margin-bottom: 40px;
}

h1 {
    color: mintcream;
    text-align: center;
    line-height: 100px;
}

/************SEARCH**************/
.search {
    position: relative;
    display: flex;
    align-items: center;
    width: 50%;
    height: 45px;
    margin: 0 auto 25px;
}

.search-input {
    background-image: url(./img/looking-glass.png);
    background-size: 34px;
    background-position: 10px 6px;
    background-repeat: no-repeat;
    border-radius: 5px;
    border: 1px solid lightblue;
    cursor: text;
    display: block;
    height: 45px;
    width: calc(100% - 90px);
    max-width: 1150px;
    padding-left: 60px;
    font-size: 16px;
    caret-color: navy;  
    padding: 0px 121px 0 43px;
}

.search-btn {
    width: 90px;
    height: 45px;
    background-color: rgb(216, 52, 52);
    border: 1px solid rgb(175, 42, 42);;
    border-radius: 5px;
    cursor: pointer;
    color: whitesmoke;
    font-size: 16px;
    margin: 0 5px;
}

.search-clear {
    position: absolute;
    background-image: url(./img/clear.png);
    width: 45px;
    height: 62px;
    background-repeat: no-repeat;
    cursor: pointer;
    right: 164px;  
}

.search-keyboard {
    position: absolute;
    background-image: url(./img/key.png);
    width: 50px;
    height: 56px;
    background-repeat: no-repeat;
    cursor: pointer;
    right: 110px;  
    background-size: 47px;
    opacity: 0.8;
}

.loader {
    position: absolute;
    right: 194px;
    background-image: url(./img/loader.png);
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
}

/**************SWIPER**************/
.swiper-container {
    width: 1200px;
    height: 100%;
    padding: 0 29px !important;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
/* width: 300px !important; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
  }

  .film-name {
    display: block;
    margin-bottom: 15px;
    height: 43px;
    font-size: 24px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width:310px; 
  }

  .film-poster {
      height: 440px;
      width: 310px;
      /* background-size: cover; */
      background-position: center center; 
      background-repeat:   no-repeat;
      background-size: 100% 100%;
  }

  .film-year {
      padding: 10px 0 15px;
      font-weight: bold;
  }

  .film-rating {
      font-weight: bold;
      position: relative;
      padding-left: 18px;
      line-height: 25px;
  }

  .film-rating::before {
      content: '';
      background-image: url(./img/star.png);
      width: 20px;
      height: 20px;
      background-size: 20px;
      position: absolute;
      left: -7px;
  }

  .swiper-pagination {
      margin: 10px 0;
      position: relative !important;
  }

/*************FOOTER********************/
.footer {
    height: 70px;
    background-color: rgb(37, 37, 141);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: mintcream;
    font-weight: 600;
    /* padding: 0 35px; */ 
}

.rss, .github {
    color: mintcream;
    text-decoration: none;
}