* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(36, 35, 35);
    box-sizing: border-box;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
}

/************** header************/
.header {
    height: 100px;
    background-color: rgb(9, 9, 75);
    margin-bottom: 40px;
    width: 100%;
}

h1 {
    color: mintcream;
    text-align: center;
    line-height: 100px;
}

/************SEARCH**************/
.search {
    position: relative;
    display: flex;
    align-items: center;
    width: 50%;
    height: 45px;
    margin: 0 auto 15px;
}

.search-input {
    background-image: url(./img/looking-glass.png);
    background-size: 34px;
    background-position: 10px 6px;
    background-repeat: no-repeat;
    border-radius: 5px;
    border: 1px solid lightblue;
    cursor: text;
    display: block;
    height: 45px;
    width: calc(100% - 90px);
    max-width: 1150px;
    padding-left: 60px;
    font-size: 16px;
    caret-color: navy;  
    padding: 0px 121px 0 43px;
}

.search-btn {
    width: 90px;
    height: 45px;
    background-color: rgb(216, 52, 52);
    border: 1px solid rgb(175, 42, 42);;
    border-radius: 5px;
    cursor: pointer;
    color: whitesmoke;
    font-size: 16px;
    margin: 0 5px;
    padding: 5px;
}

.search-clear {
    position: absolute;
    background-image: url(./img/clear.png);
    width: 45px;
    height: 62px;
    background-repeat: no-repeat;
    cursor: pointer;
    right: 164px;  
}

.search-keyboard {
    position: absolute;
    background-image: url(./img/key.png);
    width: 50px;
    height: 56px;
    background-repeat: no-repeat;
    cursor: pointer;
    right: 110px;  
    background-size: 47px;
    opacity: 0.8;
}

.loader {
    position: absolute;
    right: 194px;
    background-image: url(./img/loader.png);
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
}

.info {
    text-align: center;
}

/**************SWIPER**************/
.swiper-container {
    width: 1200px;
    height: 100%;
    padding: 0 29px !important;
}
  
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
/* width: 300px !important; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.swiper-pagination {
    margin: 10px 0;
    position: relative !important;
}

.film-name {
    display: block;
    margin-bottom: 15px;
    height: 43px;
    font-size: 24px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 310px; 
}

.film-poster {
    height: 440px;
    width: 310px;
    /* background-size: cover; */
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.film-year {
    padding: 10px 0 15px;
    font-weight: bold;
}

.film-rating {
    font-weight: bold;
    position: relative;
    padding-left: 18px;
    line-height: 25px;
}

.film-rating::before {
    content: '';
    background-image: url(./img/star.png);
    width: 20px;
    height: 20px;
    background-size: 20px;
    position: absolute;
    left: -7px;
}

.err {
    font-size: 12px;
    color: red;
    text-align: center;
    margin-bottom: 5px;
}

/*************FOOTER********************/
.footer {
    height: 70px;
    background-color: rgb(37, 37, 141);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: mintcream;
    font-weight: 600;
    width: 100%;
}

.rss, .github {
    color: mintcream;
    text-decoration: none;
    position: relative;
}

.github::before {
    content: '';
    background-image: url(./img/octocat.jpg);
    width: 44px;
    height: 38px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center; 
    left: -105%;
    border-radius: 50%;
    top: -34%;
}

/*****************************************/
.keyboard-window {
    z-index: 10;
    padding: 10px;
    background-color: rgb(191, 239, 255);
    position: absolute;
    top: -250%;
    left: 60%;
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
}

.keyboard-window--close {
    position: absolute;
    width: 20px;
    height: 20px;
    font-weight: 900;
    right: 30px;
    cursor: pointer;
}

.keyboard {
    width: 100%;
    padding: 5px 0;
    background: #004134;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    max-width: 1050px;
    margin: auto;
    border-radius: 5px;
}

.container {
    text-align: center;
    padding: 5px;
    width: 600px;
}

.key {
    width: 5%;
    height: 40px;
    max-width: 70px;
    background-color: rgb(30, 144, 255, 0.5);
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Grande', Verdana, sans-serif;
    color: rgb(1, 65, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 1px;
    cursor: pointer;
    transition: all .2s;
    vertical-align: top;
}

.keyboard__key-wide {
    width: 12%;
    max-width: 120px;
    font-size: 0.7rem;
    font-weight: 700;
}

.keyboard__key-widest {
    width: 43%;
    max-width: 500px;
}

.key:hover {
    transform: scale(1.03);
}

.key:active {    
    background-color: greenyellow;
    border-radius: 20px;
}

.active {
    background-color: greenyellow;
    border-radius: 20px;
}
/*****************MEDIA*********************/

@media (max-width: 769px) {
    .swiper-container {
        width: 700px;
    }

    .film-poster {
        height: 340px;
        width: 250px;
    }

    .search-keyboard {
       display: none;
    }

    .search-clear {
        right: 110px;  
    }

    .film-name {
        width: 250px; 
    }
}

@media (max-width: 451px) {
    .swiper-container {
        width: 400px;
    }

    .search-clear {
        right: 70px;  
    }

    .search-btn {
        font-size: 14px;
    }
}